.Card {
    color: white;
    padding: 16px 10px;
    margin-bottom: 10px; 
    border-bottom: dashed 1px;
}
.Card:last-child{
    padding-bottom: 20px;
}
.Card-header {
    padding: 4px;
    margin-bottom: 14px;
    text-align: center;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}
.Card-header h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
}