.container{
    width: 100vh;
    height: auto;
}
.mainContent {
    background-color: #121214;
    /* display: flex; */
}
  
.sidebar {
    /* min-width: 350px; */
    background: #333333;
    /* min-height: 100vh;
    margin-right: 7.5px;
    padding: 20px;
    max-width: 300px; */
}