.CanvasContainer {
    text-align: center;
    background-color:#171719;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }